%h2 Прошедшие встречи

.meetings

  %h3 12 Февраля 2010 г. Настройка VDS от Locum.ru под руководством Максима Филатова

  %h4 Материалы

  %ul
    %li= link 'Пошаговая инструкция и конфигурационные файлы', 'http://github.com/Bregor/spbruby-deploy-notes'

  %h3 20 ноября 2009 г. Инструменты разработки

  %h4 Выступления

  %ul
    %li Антон Асташов (удаленно из Красноярска): Vim и Vim Ruby Debugger
    %li Федор Кочерга: Emacs
    %li Андрей Ситник: Gedit + Gmate
    %li Илья Заяц: Textmate
    %li Jetbrains: Rubymine

  %h4 Материалы

  %ul
    %li= link 'Видео с экрана', 'http://www.avalon.ru/OpenLessons/Seminars/2009-11-20/'

  %h3 15 октября 2009 г. NoSQL

  %h4 Выступления

  %ul
    %li Алексей Газиев: MongoDB
    %li Роман Снитко и Илья Заяц: TokyoCabinet

  %h4 Материалы

  %ul
    %li= link 'Слайды Алексея Газиева', 'http://bit.ly/2wrHg1'
    %li= link 'Видео запись выступления Романа и Ильи', 'http://bit.ly/2CuyKY'

  %h3 15 Cентября 2009 г. Gregory Brown и питерские руби-программисты

  %h4 Выступления

  %ul
    %li Gregory Brown (удаленно из CT, USA): Ruby, ответы на вопросы
    %li Илья Заяц: Jabber-бот на ruby
    %li Андрей Ситник: Shoes
    %li Федор Кочерга: Sinatra

  %h4 Материалы

  %ul
    %li= link 'Пример jabber-бота на ruby', 'http://bit.ly/pa77E'
    %li= link 'Примеры приложений на shoes', 'http://bit.ly/RLK1H'
    %li= link 'Код приложения на sinatra и слайды', 'http://bit.ly/1v47Qv'
    %li= link 'Код приложения, с помощью которого разыграли призы', 'http://bit.ly/ItmoP'
    %li= link 'Фотографии (автор: Михаил Баранов)', 'http://fotki.yandex.ru/users/h404/album/76574/'

  %h3 31 мая 2009 г. Jetbrains & Илья

  %h4 Выступления

  %ul
    %li Дмитрий Жемеров: Rubymine
    %li Роман Чернятчик: TeamCity 
    %li Илья Заяц: Основы работы с memcached

  %h4 Материалы

  %ul
    %li= link 'Слайды Романа', 'http://www.slideshare.net/railsclub/jetbrains-team-city'
    %li= link 'Слайды Ильи', 'http://www.slideshare.net/railsclub/memcached-1516250'
    %li= link 'Видеозапись с экрана', 'http://vimeo.com/tag:spbmay31st'

  %h3 26 апреля 2009 г. Первая встреча в формате мини-конференции

  %h4 Выступления

  %ul
    %li Евгений Большаков: Интеграционное тестирование с помощью Cucumber
    %li Андрей Ситник: i18n ruby-приложений
    %li Роман Снитко: Gem cssdryer2

  %h4 Материалы

  %ul
    %li= link 'Слайды Евгения', 'http://www.slideshare.net/railsclub/integration-acceptance-cucumber'
    %li= link 'Код приложения с тестами на Cucumber', 'http://github.com/eugenebolshakov/spbruby/tree/a8a51b12353a4e3f19bf33013baac0ac6babaab0/april_09/eugene_bolshakov'
    %li= link 'Слайды Андрея', 'http://www.slideshare.net/railsclub/i18n-ruby'
    %li= link 'Gem cssdryer2', 'http://github.com/snitko/cssdryer2'
    %li= link 'Фотографии (авторы: Максим Филатов и Ирина Правская)', 'http://picasaweb.google.com/railsclub.ru/SPBApril26'

  %p= link 'На главную', '/'
